@import (reference) "../bootstrap/variables.less";
@import (reference) "../bootstrap/mixins.less";
@import "../bootstrap/normalize.less";
@import "../bootstrap/scaffolding.less";
@import "../bootstrap/thumbnails.less";
@import "../bootstrap/type.less";
@import "../bootstrap/responsive-utilities.less";

/* Changing these variables allows us to quickly rebrand.  
   Loading from a separate file would allow us to separate 
   code from config. 
   
   We could then generate different css files to switch brand within the same site if we wanted.
    
   Slightly beyond the scope of the challenge though. The challenge asked me to design for it, and explain how it would work, not to show it working.
*/

/* VW branding*/
@branded-background: green;
@branded-foreground: white;
@branded-image: url("https://www.volkswagen.com.au/content/dam/vw-ngw/vw_pkw/importers/au/showrooms/my17-golf/MY17-golf_range_110TSI-TL.png/jcr:content/renditions/original.transform/min/img.png");

/* Audi branding */
/*
@branded-background: #3399ff;
@branded-foreground: white;
@branded-image: url("https://content.audi.co.uk/dam/7_days/CAD/External%20Assets/A7/S7-Sportback/t9/pqg/035.png");
*/

.btn-branded {
    .button-variant(@branded-foreground; @branded-background; @branded-background);
}

.jumbotron.branded {
    background-image: @branded-image;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 250px;
}

/* Just an area that centers everything */
.card {
    .text-center;

    p, h3, .button {
        .text-center;
        .center-block();
    }
}


.stageCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 11px;
    background: #aaaaaa;
    color: #fff;
    text-align: center;
    font: 12px Arial, sans-serif;
    .center-block();
}

.stageText {
    .text-center;
    .center-block();
}

.active {
    .stageText {
    }
    .stageCircle {
        background: #0095ff;
    }
}

.vehcileInfoArea {
    width: 100%;
}

.vehicleInfoIcon {
    width: auto;
    float: left;
    padding: 20px;
}

.vehicleInfoBoxOut {
    width: auto;
    overflow: hidden;
    background-color: #c0c0c0;
}

.vehicleInfoEdit {
    float:right;
}

.text-danger.alert.alert-danger {
    display: none;
}

.text-danger.alert.alert-danger.field-validation-error {
    display: block;
}


.help-list {
    height: 200px;

    &.ng-hide {
        opacity: 0;
        height: 0px;
    }

    &.ng-hide-add,
    &.ng-hide-remove {
        transition: all linear 2.0s;
    }
}
