﻿@model VWFSChallange.Models.VehicleDetails

@{
    ViewBag.Title = "Apply";
}

<div class="jumbotron branded">
</div>

<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <p>
            What do I need to get started?
        </p>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="card">
                        <p><i class="fa fa-user fa-5x" aria-hidden="true"></i></p>
                        <p>
                            Personal/Contact Details
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="card">
                        <p><i class="fa fa-home fa-5x" aria-hidden="true"></i></p>
                        <p>
                            Address
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="card">
                        <p><i class="fa fa-credit-card-alt fa-5x"></i></p>
                        <p>
                            Debit or Credit Card, Bank Account Number/Sort Code (depends on plan)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1">
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div ng-app="VehicleInfoApp" ng-controller="VehicleInfoController">
            <div class="card">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <h3>Enter your car registration to get started</h3>
                        <div class="input-group">

                            @Html.EditorFor(model => model.Registration, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase" } })
                            <span class="input-group-btn">
                                <button class="btn btn-branded" type="submit">Find Vehicle</button>
                            </span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.Registration, "", new { @class = "text-danger alert alert-danger" })
                }

                <div class="help-block" id="reg-help">
                    <p><a href="#reg-help" ng-click="getRegistrationList(); showHelp = ! showHelp">I don't know my registration</a></p>
                    @*<div class="help-list" ng-class="{ 'hidden': !showHelp }">
                        <p>The list of registrations in the system is :-</p>
                        <div ng-repeat="car in details.data">
                            {{car.Registration}}
                        </div>
                    </div>*@

                    <div class="help-list" ng-hide="!showHelp">
                        <p>The list of registrations in the system is :-</p>
                        <div ng-repeat="car in details.data">
                            {{car.Registration}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <div class="card">
                <p><i class="fa fa-line-chart fa-5x" aria-hidden="true"></i></p>
                <h3>
                    Retain the highest residual value for your vehicle
                </h3>
                <p>
                    The service book will carry Volkswagen service history of quality and reliability. making it easier to sell and giving it the highest possible resale/trade-in value when you decide to replace it
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <div class="card">
                <p><i class="fa fa-user-md fa-5x" aria-hidden="true"></i></p>
                <h3>
                    Highly-trained Technicians
                </h3>
                <p>
                    All work will be undertaken by Volkswagen trained technicians in Volkswagen approved workshops and using Volkswagen original parts covered by a two-year warranty
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <div class="card">
                <p><i class="fa fa-globe fa-5x" aria-hidden="true"></i></p>
                <h3>
                    Valid Nationwide
                </h3>
                <p>
                    Your plan is valid nationwide, so work covered by the plan can be undertaken by any Volkswagen retailer
                </p>
            </div>
        </div>
    </div>
</div>
