﻿@model VWFSChallange.Models.VehicleDetails

@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Hello!
                </h2>
                <p>
                    This is the VWFS coding challenge. The button below will start you off on an app that meets the brief.
                    It makes use of jQuery, MVC, bootstrap and AngularJS to build a site that takes a vehicle registration and goes from there.
                    NB. To get a list of known registrations, click the "I don't know my registration link" - It will list out all of the registrations that I've hard-coded.
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="apply">Try it</a>
                </p>
            </div>
            <div class="list-group">
                <p class="list-group-item active">Considerations</p>
                <div class="list-group-item">
                    Noteables
                </div>
                <div class="list-group-item">
                    <p class="list-group-item">
                        I added a regular expression to the validation of the registration text field. jQuery validate confirms the entered registration fits the regex.
                    </p>
                    <p class="list-group-item">
                        All CSS is generated using LESS. This is to allow for variables, making it easy to rebrand for other projects. 
                        I've commented out an example in the less/site/vw.less file.  Enabling those comments and rebuilding the LESS shows a blue audi and blue buttons on the site.
                    </p>
                    <p class="list-group-item">
                        The "Volkswagen" in the header area is added to the MVC viewbag. The idea being it would be easy to rebrand by connecting this to a value in the web.config.
                    </p>
                    <p class="list-group-item">
                        The <a href="https://sacvwfs.azurewebsites.net/">https://sacvwfs.azurewebsites.net/</a> domain is hosted on azure, and connected directly to the 
                        <a href="https://gitlab.com/stuartcrouch/vwfs-challenge">gitlab codebase</a>. Any changes to the code are visibile immediately (continuous delivery).
                    </p>
                    <p class="list-group-item">
                        Grunt is used to recompile the LESS after each change.  Combined with using MVC, this causes realtime updates to the page for quicker CSS development.
                    </p>
                </div>
                <div class="list-group-item">
                    Issues
                </div>
                <div class="list-group-item">
                    <p class="list-group-item">
                        I spelled the project challange and didn't notice until I was writing this page.  Rather than risk breaking everything and submitting 
                        a non-functioning site, I decided to call it out as an issue.
                    </p>
                    <p class="list-group-item">
                        The mileage field is much too large on medium and large displays.
                    </p>
                </div>
                <div class="list-group-item">
                    Potential improvements
                </div>
                <div class="list-group-item">
                    <p class="list-group-item">
                        Allow a way to re-order the "what do I need to get started" area to appear after the mileage form.
                    </p>
                    <p class="list-group-item">
                        More padding on the .card items to improve the look and feel.
                    </p>
                    <p class="list-group-item">
                        Logging for debug.  I didnt write any logging as the brief seemed to focus more on the web interaction, but logs are vital for production systems.
                    </p>
                    <p class="list-group-item">
                        Consider a way to show the stages, perhaps using z-order so that the current stage sits on top, and the text for the other stages are hidden. 
                        This allows the end user to see progress across the site.
                    </p>
                    <p class="list-group-item">
                        Angular code doesnt survive minification. It would be better to figure out why it failed, and include it in a bundle
                    </p>
                </div>
                <div class="list-group-item">
                    Assumptions
                </div>
                <div class="list-group-item">
                    <p class="list-group-item">
                        The top navigation from the first page should persist across all pages, althougth the second page did not show it.
                        If this assumption were incorrect, removing the top navigation would be as simple as switching to a different Layout.
                    </p>
                    <p class="list-group-item">
                        The second page is not a screenshot of a modal area that would sit over the first page, but a completely separate page.
                        Because the second page did not show anything related to the first page, I assumed it was a different screen that could 
                        be loaded via a postback.
                        If it were a modal, I would have chosen to bring in the results via angularJS using my GetVehicleInfo() method, removing the need for a postback.
                    </p>
                    <p class="list-group-item">
                        The current stage on the second page is important, but the others less so, so they are hidden for mobile and small screen devices
                    </p>
                    <p class="list-group-item">
                        The fact the first and second page share the same "/apply" URL is important to the design.  This impacted the way I implemented the MVC Home controller.
                    </p>
                    <p class="list-group-item">
                        Setting up Logging/Debugging techniques is out of scope
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
