﻿@model VWFSChallange.Models.VehicleDetails

@{
    ViewBag.Title = "VehicleFound";
}

<div class="row" ng-app="StagesApp" ng-controller="StagesController">
    <div class="col-md-2" ng-repeat="stage in stages">
        <div class="stageInfo {{ activeStage == stage.id ? 'active' : 'hidden-xs hidden-sm' }}">
            <div class="stageCircle">{{stage.id}}</div>
            <div class="stageText">{{stage.title}}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        @if (Model != null && !String.IsNullOrEmpty(Model.Registration))
        {
        <div class="card">
            <p>We've identified this vehicle using the details you provided</p>
        </div>
        }
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="vehicleInfoArea" style="width: 100%">
                    <div class="vehicleInfoIcon hidden-xs " style="text-align: left">
                        <i class="fa fa-car fa-5x"></i>
                    </div>
                    <div class="vehicleInfoBoxOut">
                        @if (Model != null) {
                            if (!String.IsNullOrEmpty(Model.Registration)) {

                                <div class="vehicleInfoEdit"><a href="#">Edit</a></div>
                                <h2>@Model.Registration</h2>
                                <p>@Model.Color @Model.Make @Model.Model, @Model.Engine @Model.Doors.ToString()-DR</p>

                            }
                            else if (Model.Mileage > 0)
                            {
                                
                                <h2>Thanks</h2>
                                <p>@Model.Mileage has been recorded</p>
                            }
                        }
                        else
                        {
                            <h2>Sorry</h2>
                            <p>We could not find this vehicle</p>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <div class="card">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <h3>Enter current milage</h3>
                            @Html.EditorFor(model => model.Mileage, new {  htmlAttributes = new { @Value = ViewBag.postData.Mileage, @class = "form-control", @style = "text-transform:uppercase" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Mileage, "", new { @class = "text-danger alert alert-danger" })
                        <p class="help-block">
                            Knowing the current milage of your car can help us find the right plan for you.
                        </p>
                        <button type="submit" class="btn btn-branded center-block">Get Plans <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                    }
                </div>
                <div class="card">
                    <p><a href="#">Exception: Existing plan</a></p>
                    <p><a href="#">Exception: No plan available</a></p>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>


    </div>
    <div class="col-md-2"></div>
</div>


   
